
.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px; 
  width: 100vw;
  background: #ffa5cf;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  padding: 5px 0;
}

.nav-items .left,
.nav-items .center,
.nav-items .right {
  display: flex;
  align-items: center;
}


.nav-items .center {
  justify-content: center;
  flex: 1;
  max-width: 500px;
}


#logo {
  height: 60px;
  margin-top: 20px;
  margin-left: 10px;
}


.search-container {
  display: flex;
  align-items: center;
  flex: 1; 
  max-width: 500px; 
  justify-content: flex-start; 
  margin-left: 50px; 
}


.search-box {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 3px solid rgb(244, 237, 231);
  margin: 0;
  font-size: 14px;
  transition: outline 0.2s ease;
}


.search-box:focus {
  outline: 2px solid rgb(228, 172, 175);
  outline-offset: 2px;
}


.search-btn {
  height: 50px;
  padding: 0 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: rgb(228, 172, 175);
  color: rgb(150, 92, 85);
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  margin-left: -3px; 
}

.search-btn:hover {
  background-color: rgb(176, 185, 128);
}

.icons:not(#logo) {
  height: 40px;
  width: auto;
  margin-left: 20px; 
}




#cart-btn img {
  height: 40px;
  width: 40px;
}


#links {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  gap: 10px;
}

.navlink {
  background-color: rgb(228, 172, 175);
  color: rgb(150, 92, 85);
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.2s;
  text-align: center;
    font-size: 16px; 
    font-family: "Coiny", system-ui;
  
}

.navlink:hover {
  background-color: rgb(176, 185, 128);
}

.navlink.active {
  background-color: rgb(228, 120, 135);
}