.App {
   font-family: "Pacifico" cursive; 
  text-align: center;
  color: #965C55;      
  background-color: #f4ede7;  
}

.coiny-regular {
  font-family: "Coiny", system-ui;
  font-weight: 390;
  font-style: normal;
}
