.App {
  font-family: "Georgia", serif; /* or any bakery-y font you like */
  text-align: center;
  color: #965C55;       /* dark brown for text */
  background-color: #f4ede7;  /* cream background */
}